<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="${href1}">
	<img style="width: 340px; height: 255px;" src="${href1}${src1}" alt="${title1}">
      </a>
      <div class="caption">
	<h3>${title1}</h3>
	<p>${description1}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="${href2}">
	<img style="width: 340px; height: 255px;" src="${href2}${src2}" alt="${title2}">
      </a>
      <div class="caption">
	<h3>${title2}</h3>
	<p>${description2}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="${href3}">
	<img style="width: 340px; height: 255px;" src="${href3}${src3}" alt="${title3}">
      </a>
      <div class="caption">
	<h3>${title3}</h3>
	<p>${description3}</p>
      </div>
    </div>
  </div>
</div>
