  <div class="col">
    <div class="thumbnail">
      <a href="${href}">
	<img style="width: 340px; height: 255px;" src="${href}${src}" alt="${title}">
      </a>
      <div class="caption">
	<h3>${title}</h3>
	<p>${description}</p>
      </div>
    </div>
  </div>
