## -*- coding: utf-8 -*-

## <div class="panel-group" id="accordion">
##  % for item in items:
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">
        <button clas="btn btn-link" data-toggle="collapse"><span style="margin-right: 5px;" id="showRefsSign" class="glyphicon glyphicon-chevron-down" aira-hidden="true"></span>${title}</button>
      </h4>
    </div>
    <div id="collapse-${uuid}" class="card-collapse collapse">
      <div class="card-body">
      ${content}
      </div>
    </div>
  </div>
##  % endfor
## </div
