## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
<footer id="footer">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <ul class="social-list">
	<li><a class="social-twitter fa fa-twitter fa-2x" href="https://twitter.com/argenpython" target="_blank"></a></li>
	<li><a class="social-facebook fa fa-facebook fa-2x" href="https://facebook.com/argentinaenpython" target="_blank"></a></li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-6">
      <p style="font-size: 90%;"><i>Argentina en Python busca llevar a cada rincón del país la construcción del conocimiento colaborativo y la participación colectiva en la búsqueda del aprendizaje.</i></p>
    </div>
  </div>

  <div class="row nikola-content-footer">
    <div class="col-xs-8 col-sm-8 col-md-8">
      &copy; 2014-2016 <a href="http://elblogdehumitos.com.ar/">Manuel Kaufmann</a> - 
      Powered by <a href="http://getnikola.com" rel="nofollow">Nikola</a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a style="float: right;" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	<img alt="Creative Commons License BY-SA"
	     style="border-width:0; margin-bottom:12px;"
	     src="/cc_by_sa-88x31.png"></a>
    </div>
  </div>
</footer>
</%def>
