<%def name="html_translations()">
    %for langname in sorted(translations):
        %if langname != lang:
            <li><a href="${abs_link(_link("root", None, langname))}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
</%def>
