<%def name="html_translations()">
    %for langname in sorted(translations):
        %if langname != lang:
            <a class="dropdown-item" href="${abs_link(_link("root", None, langname))}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a>
        %endif
    %endfor
</%def>
