body {
    font-size: 17px;
}


#map-container small {
    text-align: right;
}

#map-container h2 {
    text-align: center;
}

#map, #map-zero, #map-first, #map-second, #map-third {
    height: 450px;
    margin-top: 5px;
    margin-bottom: 15px;
}

div.flowr-row {
    margin-bottom: 5px;
}

footer {
    margin-top: 25px;
    background-color: #ebebeb;
    padding: 15px;
    bottom: 0;
    position: relative;
    width: 100%;
}

iframe {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.width-70 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.fotorama__wrap {
    margin: 0 auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 4px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}
